:root {
    --dark-primary-color: #455a64;
    --light-primary-color: #cfd8dc;
    --primary-color: #607d8b;
    --accent-color: #8ad6f8;
    --primary-text: #212121;
    --secondary-text: #757575;
    --devider-color: #bdbdbd;
    --minus-color: #dd1515;
    --plus-color: #26bd19;
}
